<nav>
    <ul>
        <li class="menu-item"><a href="/">Home</a></li>
        <li class="menu-item menu-racer"><a href="/racer">Racers</a></li>
        <li class="menu-item menu-mtb"><a href="/mtb">MTB</a></li>
    </ul>
</nav>